<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>SMS View</title>
  </head>
  <body>
      <form action="{{ url_for('viewSMS')}}" method="post">
          <h5>SMS INBOX</h5>
          <div>
              <input type="text" name="senderPhone" placeholder="senderPhone">
          </div>
          <div>
              <input type="text" name="receiverPhone" placeholder="receiverPhone">
          </div>
          <div>
              <button >Send</button>
          </div>
      </form>
  </body>

</html>